nodered_flow.json
[{"id":"f748cd58.ed149","type":"tab","label":"Map","disabled":false,"info":""},{"id":"f3301c37.8a248","type":"tab","label":"send_to_clarify","disabled":true,"info":""},{"id":"54584d02.2939a4","type":"group","z":"f3301c37.8a248","name":"Send signals to Clarify","style":{"label":true},"nodes":["57c8c80b.c9a9b8","e1876d8.21bfa9","7f41844d.a2eb6c","31be4a82.9d4306","be9e19e1.054298","d1fc90bd.e70c3","1d96aee6.ca89c1","7b7b036e.a73afc","c6428d41.97e4b","9e1de2b3.ea838"],"x":-6,"y":239,"w":1132,"h":222},{"id":"df40dd59.bd739","type":"group","z":"f3301c37.8a248","name":"Get data and prepare it for Clarify","style":{"label":true},"nodes":["309f05de.5ecf0a","c5854749.2cd0c8","7a638c12.e48514","601f3876.74d4d8","3247601c.6fb29","76274cd8.12af34"],"x":14,"y":99,"w":1112,"h":122},{"id":"50488f20.ddf07","type":"ui_group","name":"Map","tab":"c52998a3.a636f8","order":1,"disp":true,"width":"30","collapse":false},{"id":"c52998a3.a636f8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"fa03e2bf.54a93","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cf748c36.ecf7d","type":"clarify-api","apiUrl":"https://clarify.clfy.io/api","integrationID":"__MISSING__","integrationName":"Portwind","organizationID":"__MISSING__","name":"Portwind @ dev"},{"id":"f6bbf6ab.79a838","type":"clarify-api","apiUrl":"https://dev.clfy.io/api","integrationID":"c18tgt8pv4i2ro3mtvlg","integrationName":"Gemini","organizationID":"bu43maqfji5kus8pj7kg","name":"Gemini"},{"id":"cb843f8f.11f4f","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"f76ea5a0.f80dc8","type":"ui_worldmap","z":"f748cd58.ed149","group":"50488f20.ddf07","order":0,"width":"30","height":"18","name":"","lat":"63.446827","lon":"10.421906","zoom":"14","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":1160,"y":320,"wires":[]},{"id":"a7512458.ec9248","type":"function","z":"f3301c37.8a248","name":"Config","func":"const DateTime = global.get('luxon').DateTime;\n\nlet availableDatasets = {\n    'velocity': {\n        name: 'Autoferry velocity',\n        dataType: 'numeric',\n        engUnit: 'kn',\n    },\n    'pressure': {\n        name: 'Average Pressure',\n        dataType: 'numeric',\n        engUnit: 'bar',\n    },\n    'rain': {\n        name: 'Rain',\n        dataType: 'numeric',\n        engUnit: 'mm',\n    },\n    'temperature': {\n        name: 'Average Temperature',\n        dataType: 'numeric',\n        engUnit: '°C',\n    },\n    'wswd': {\n        name: 'Average Wind Speed',\n        dataType: 'numeric',\n        engUnit: 'm/s',\n    },\n};\n\nmsg.topic = \n\nreturn msg;","outputs":1,"noerr":2,"initialize":"","finalize":"","x":310,"y":40,"wires":[["8f3b8485.b4ccc8"]]},{"id":"8f3b8485.b4ccc8","type":"link out","z":"f3301c37.8a248","name":"Run cron job","links":["309f05de.5ecf0a"],"x":435,"y":40,"wires":[]},{"id":"309f05de.5ecf0a","type":"link in","z":"f3301c37.8a248","g":"df40dd59.bd739","name":"Request or rerequest data","links":["8f3b8485.b4ccc8","41bc7418.513f5c","be9e19e1.054298"],"x":55,"y":180,"wires":[[]]},{"id":"c5854749.2cd0c8","type":"debug","z":"f3301c37.8a248","g":"df40dd59.bd739","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1030,"y":180,"wires":[]},{"id":"7a638c12.e48514","type":"delay","z":"f3301c37.8a248","g":"df40dd59.bd739","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":180,"wires":[[]]},{"id":"601f3876.74d4d8","type":"function","z":"f3301c37.8a248","g":"df40dd59.bd739","name":"Prepare for Clarify","func":"if (msg.payload.error !== undefined) {\n    throw msg.payload.error;\n}\n\ncfg = flow.get('config');\nif (cfg === undefined) {\n    throw 'config from flow context is empty';\n}\n\nlet id = msg._requestedData.stationid;\nif (id === '') {\n    throw 'Requested stationid is empty';\n}\n\nif (!(id in cfg.desiredStations)) {\n    throw 'Could not find stationid in cfg.desiredStations: ' + id;\n}\nlet stationData = cfg.desiredStations[id];\n\nlet dataset = msg._requestedData.dataset;\nif (dataset === '') {\n    throw 'Requested dataset is empty';\n}\n\nif (!(dataset in cfg.availableDatasets)) {\n    throw 'Could not find dataset in cfg.availableDatasets: ' + dataset;\n}\nlet datasetData = cfg.availableDatasets[dataset];\n\n// TODO: Check statusCode == 200 and payload exists.\n\nlet data = [];\n\nswitch (dataset) {\n    case 'velocity':\n        data = msg.payload.data.map(d =>{\n            return [new Date(d[0]), d[1]]\n        });\n        break;\n    case 'pressure':\n        data = msg.payload.data.map(d =>{\n            return [new Date(d[0]), d[1]]\n        });\n        break;\n    case 'rain':\n        data = msg.payload.data.map(d =>{\n            return [new Date(d.uts), d.rain]\n        });\n        break;\n    case 'temperature':\n        data = msg.payload.data.map(d =>{\n            return [new Date(d[0]), d[1]]\n        });\n        break;\n    case 'wswd':\n        data = msg.payload.data.map(d =>{\n            return [new Date(d.uts), d.wind_speed]\n        });\n        break;\n    default:\n        throw 'Unknown requested dataset: ' + dataset;\n}\n\nmsg._receivedPayload = msg.payload;\nmsg.payload = {\n    id: (id + '-' + dataset).replace(/\\s/g, ''),\n    name: datasetData.name,\n    dataType: datasetData.dataType,\n    engUnit: datasetData.engUnit,\n    data: data,\n    labels: stationData.labels,\n    \n};\nnode.send(msg);\n\n\nreturn null;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":180,"wires":[["c5854749.2cd0c8","3247601c.6fb29"]]},{"id":"3247601c.6fb29","type":"link out","z":"f3301c37.8a248","g":"df40dd59.bd739","name":"Prepared for Clarify","links":["57c8c80b.c9a9b8"],"x":995,"y":140,"wires":[]},{"id":"57c8c80b.c9a9b8","type":"link in","z":"f3301c37.8a248","g":"54584d02.2939a4","name":"To Clarify","links":["3247601c.6fb29"],"x":55,"y":280,"wires":[["e1876d8.21bfa9"]]},{"id":"e1876d8.21bfa9","type":"delay","z":"f3301c37.8a248","g":"54584d02.2939a4","name":"","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":280,"wires":[["c6428d41.97e4b"]]},{"id":"7f41844d.a2eb6c","type":"delay","z":"f3301c37.8a248","g":"54584d02.2939a4","name":"","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":380,"wires":[["7b7b036e.a73afc"]]},{"id":"31be4a82.9d4306","type":"debug","z":"f3301c37.8a248","g":"54584d02.2939a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1030,"y":380,"wires":[]},{"id":"be9e19e1.054298","type":"link out","z":"f3301c37.8a248","g":"54584d02.2939a4","name":"Data sent to Clarify","links":["309f05de.5ecf0a"],"x":995,"y":420,"wires":[]},{"id":"d1fc90bd.e70c3","type":"switch","z":"f3301c37.8a248","g":"54584d02.2939a4","name":"","property":"created","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":280,"wires":[["1d96aee6.ca89c1"],["7f41844d.a2eb6c"]]},{"id":"1d96aee6.ca89c1","type":"delay","z":"f3301c37.8a248","g":"54584d02.2939a4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":280,"wires":[["7f41844d.a2eb6c"]]},{"id":"7b7b036e.a73afc","type":"add-data","z":"f3301c37.8a248","g":"54584d02.2939a4","name":"","data":"payload.data","dataType":"dataType","dataTypeType":"msg","signalID":"signalID","signalIDType":"msg","apiRef":"f6bbf6ab.79a838","x":600,"y":380,"wires":[["31be4a82.9d4306","be9e19e1.054298"]]},{"id":"c6428d41.97e4b","type":"ensure-multiple","z":"f3301c37.8a248","g":"54584d02.2939a4","name":"","apiRef":"f6bbf6ab.79a838","ID":"payload.id","signalName":"payload.name","x":620,"y":280,"wires":[["d1fc90bd.e70c3"]]},{"id":"6ac8c226.47453c","type":"cronplus","z":"f3301c37.8a248","name":"Run every hour","outputField":"payload","timeZone":"Europe/Oslo","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"schedule1","payloadType":"default","payload":"","expressionType":"cron","expression":"1 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":120,"y":40,"wires":[["a7512458.ec9248"]]},{"id":"76274cd8.12af34","type":"mysql","z":"f3301c37.8a248","g":"df40dd59.bd739","name":"","x":370,"y":180,"wires":[[]]},{"id":"60eaba82.a11094","type":"http request","z":"f748cd58.ed149","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://www.barentswatch.no/bwapi/v2/geodata/ais/openpositions?Xmin=10.336172332092610&Xmax=10.445618266968827&Ymin=63.3989&Ymax=63.467829056786954","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":320,"wires":[["7b08e950.b28d18","4db6f772.c35258"]]},{"id":"9e1de2b3.ea838","type":"inject","z":"f3301c37.8a248","g":"54584d02.2939a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":380,"wires":[[]]},{"id":"be0affeb.8c3af","type":"cronplus","z":"f748cd58.ed149","name":"Run every minute","outputField":"payload","timeZone":"Europe/Oslo","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"schedule1","payloadType":"default","payload":"","expressionType":"cron","expression":"* * * * * ","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":110,"y":320,"wires":[["7f30f5e7.69cb4c"]]},{"id":"7b08e950.b28d18","type":"debug","z":"f748cd58.ed149","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":400,"wires":[]},{"id":"750c6bf2.527664","type":"http request","z":"f748cd58.ed149","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://id.barentswatch.no/connect/token","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":180,"wires":[["79f6cb04.bb5f94","14a730f4.b5d0ff"]]},{"id":"1a5f1fd5.22773","type":"change","z":"f748cd58.ed149","name":"","rules":[{"t":"set","p":"headers.Content-Type","pt":"msg","to":"application/x-www-form-urlencoded","tot":"str"},{"t":"set","p":"payload.grant_type","pt":"msg","to":"client_credentials","tot":"str"},{"t":"set","p":"payload.client_id","pt":"msg","to":"havard.hanssen94@gmail.com:Gemini","tot":"str"},{"t":"set","p":"payload.client_secret","pt":"msg","to":"autoferge123","tot":"str"},{"t":"set","p":"payload.scope","pt":"msg","to":"api","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":180,"wires":[["750c6bf2.527664"]]},{"id":"79f6cb04.bb5f94","type":"change","z":"f748cd58.ed149","name":"","rules":[{"t":"set","p":"token","pt":"flow","to":"payload.access_token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":180,"wires":[[]]},{"id":"14a730f4.b5d0ff","type":"debug","z":"f748cd58.ed149","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":240,"wires":[]},{"id":"7f30f5e7.69cb4c","type":"function","z":"f748cd58.ed149","name":"","func":"token = flow.get('token')\nvar msg1 = { headers:{Authorization:'Bearer '+token}};\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":320,"wires":[["60eaba82.a11094","1664345.f467bcc"]]},{"id":"1664345.f467bcc","type":"debug","z":"f748cd58.ed149","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":400,"wires":[]},{"id":"59ae6f1d.c7127","type":"debug","z":"f748cd58.ed149","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":420,"wires":[]},{"id":"4db6f772.c35258","type":"function","z":"f748cd58.ed149","name":"","func":"boats = msg.payload;\n\nvar msg1 = {payload:[]};\n\nfor (i=0; i<boats.length;i++){\n    msg1.payload[i] = {'name':boats[i].name, \n                        'lat':boats[i].geometry.coordinates[1],\n                        'lon':boats[i].geometry.coordinates[0],\n                        'label':boats[i].callsign,\n                        'icon':'fa-dot-circle-o'\n}}\n//msg1.payload = msg1.payload[0];\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":320,"wires":[["59ae6f1d.c7127","f76ea5a0.f80dc8"]]},{"id":"d0926146.8faef","type":"cronplus","z":"f748cd58.ed149","name":"Run every 59 minutes","outputField":"payload","timeZone":"Europe/Oslo","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"schedule1","payloadType":"default","payload":"","expressionType":"cron","expression":"*/59 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":100,"y":180,"wires":[["1a5f1fd5.22773"]]}]